@charset "UTF-8";
/* CSS Document */

#listingcontainer{
	
	margin:auto;
	background-color:#808080;
	width:1000px;
	height:1000px;
	border-radius:20px;
	padding-top:20px;
	
}
.listitem {
	background-color:#E6E6E6;
	width:800px;
	position:relative;
	margin:auto;
	height:200px;
	border-radius:40px;
	border-bottom-right-radius:100%;
	border-top-right-radius:100%;
	margin-top:20px;
}
.listitem img{
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	height:200px;
	width:200px;
	position:relative;
	float:left;
	display:inline-block;
	border-right:5px solid #008B01;
	transition-duration :0.25s ;
	transition-timing-function:ease-out;
	transition-property:all;
}
.listitem img:hover{
	transform:translateX(-100px) scale(2);
	
	border:5px solid #008B01;
	border-radius:0px;
	z-index:999;	
}
.textarea{
	display:inline-block;
	width:350px;
	margin-left:20px;
}
.buy-button{
text-align:center;
border-radius:100%;
background-color:#008B01;
color:#E9E9E9;
color:white;	
width:200px;
height:200px;
float:right;
border:5px solid #E6E6E6;
transition-duration :0.25s ;
transition-timing-function:ease-out;
}
.buy-button:hover{
	transform:scale(1.1);
	background-color:#00C002;
	color:white;
}
.buy-button h1 {
	font-size:3em;
}
.buy-button h6 {
	
	font-size:1em;
}

#responce{
	display:none;
}

#userkey{
	display:none;
}
#selectorbackground{
	background:#BEBEBE;
	border-radius:20px;	
	margin-bottom:10px;
}
#filter{
	width:300px;
	margin:auto;
}
#filter select {
	margin:auto;
	width:200px;
}
