 body{
	 background-image:url(images/shoppingBag.jpg);
	 background-position:top;
	 background-repeat:no-repeat;
	 background-clip:border-box;
	 background-size:auto;
 }
 input{
 	width:400px;
 }
 
 input{
	 border-radius:30px;
	 height:30px;
	 font-size:24px;
 }

 form {
 	width:400px;
 	margin:auto;
 	position:relative;
 	background-color:rgba(200, 200, 200, 0.5);
	margin-top:100px;
	border-radius:30px;
	border:2px solid black;
	padding:20px;
 }
 
 #loginbutton{
	height:40px;
	margin-top:20px;
	transition-duration :0.25s ;
	background-color:#00C002;
	color:white;
	transition-timing-function:ease-out;
 }
 #loginbutton:hover{
	transform:scale(1.1);
	background-color:#6F9;
	color:black;
 }