@charset "UTF-8";

 body{
	 background-image:url(images/shoppingBag.jpg);
	 background-position:top;
	 background-repeat:no-repeat;
	 background-clip:border-box;
	 background-size:auto;
 }
 
input{
	width:400px;
	border-radius:30px;
	font-size:24px;
	height:30px;
}

#formcontainer{
	position:relative;
	margin:auto;
	width:400px;
	height:400px;
	margin-top:100px;
	border:2px solid black;
	background-color:rgba(200, 200, 200, 0.5);
	padding:20px;
	border-radius:30px;
}
#registerbutton{
	margin:auto;
	margin-top:30px;
	background-color:#00C002;
	color:white;
	height:40px;
	transition-duration :0.25s ;
	transition-timing-function:ease-out;
}
 #registerbutton:hover{
	transform:scale(1.1);
	background-color:#6F9;
	color:black;
 }
 a{
	 text-align:center;
	 text-decoration:none;
	 color:#B00202;
	  
  }